{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <style>
        .card-img-top {
            height: 200px; /* Fixe une hauteur pour les images */
            object-fit: cover; /* Permet de couvrir la zone sans déformation */
        }
        .card {
            min-height: 350px; /* Fixe une taille minimale pour la carte */
            max-width: 225px;
        }
        .container.text-center{
            max-width:500px
        }
    </style>
{% endblock %}

{% block body %}
<div class="container text-center">
    <header class="mb-5">
        <h1>UniToken</h1>
        <p class="lead">Ensemble, faisons vivre notre campus</p>
    </header>

    <section class="points-section mb-5">
        <h2>Mes points</h2>
        <div class="points-display">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <span class="points" style="font-size: 40px; color:blue">{{ points }} UniTs</span>
            {% else %}
                <span class="points" style="font-size: 40px;">0 UniT</span>
                <p class="text-muted" style="font-size: 20px;">Veuillez vous connecter pour voir vos points.</p>
            {% endif %}
        </div>
    </section>

    <section class="shop-section mb-5">
        <h2>Boutiques</h2>
        <div class="row">
            {% for product in products %}
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <img src="{{ asset('images/' ~ product.getNameShop ~ '.png') }}" class="card-img-top" alt="{{ product.getNameShop }}">
                        <div class="card-body">
                            <p class="card-text" style="color:#3E3F3F;"><b>{{ product.getDescriptionShop }}</b></p>
                            <span class="badge bg-success">{{ product.getPriceShop }} UniTs</span>
                            <span class="badge bg-info">Stock: {{ product.getStockShop }}</span>
                            {% if points >= product.getPriceShop %}
                                <form method="POST" action="{{ path('app_buy_item', { 'itemId': product.getId() }) }}">
                                    <button class="btn btn-primary mt-3 w-100">Acheter</button>
                                </form>
                            {% else %}
                                <p class="text-muted">Pas assez de points pour cet achat.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucun produit disponible pour l'achat pour le moment.</p>
            {% endfor %}
        </div>
    </section>

    <footer>
        <ul class="list-unstyled">
            <li><a href="{{ path('app_terms') }}">Conditions Générales De Ventes</a></li>
        </ul>
    </footer>
</div>
{% endblock %}
